body{
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  font-family: 'Concert One', cursive;
 }

 
body, html {
  height: 100%;
}

.card {
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px;
}


/*--------------------------Body Background Image------------------------------------*/

body { 
  background: url("https://i.pinimg.com/originals/e4/5f/54/e45f54e2cc5516e2210c34453db5ab6e.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  
}

/*--------------------------Media Query for resposive design------------------------------------*/

@media only screen and (max-width: 678px) {
    body{
        background-size: 400%;
    }
}


/*--------------------------Navigation Bar------------------------------------*/

.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: transparent;
}

/*--------------Footer for Pages--------------------------------*/

footer {
    min-height: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    position: sticky;
    height: 50px;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display:inline;
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #777777;
}