body{
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  font-family: 'Concert One', cursive;
 }

 
/*--------------------------Body Background Image------------------------------------*/

body { 
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20190630/pngtree-vector-white-background-with-abstract-geometric-pattern-or-textu-image_265390.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

/*--------------------------Media Query for resposive design------------------------------------*/

@media only screen and (max-width: 678px) {
    body{
        background-size: 400%;
    }
}


/*--------------------------Navigation Bar------------------------------------*/

.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: transparent;
}


/*--------------------------Glutonia Logo------------------------------------*/

img {
    border-style: none;
    position: absolute;
    margin-top: 100%;
    margin-left: 1%;
}


/*--------------------------Form Element------------------------------------*/
.form-container {
    position: absolute;
    top: 21vh;
    padding: 65px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    height: 400px;
    margin-left: 11%;
}


.forgot>p {
    color: #1d2124;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-block: 20px;
}

/*-------------------------Buttons--------------------*/

button, input {
    overflow: visible;
    width: 150px;
    margin: 0px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

footer {
    min-height: 150px;
}

footer {
  
  background-color: transparent;
  position: absolute;
  right: 0;bottom:0;left:0;
  text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}
